@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

html, body {
    height: 100%;
    width: 100%;
}


#quizpage {
    display: none;
}

#results-page {
    display: none;
}

main {
    padding: 2em 10em;
}

#homepage {
    background-image: url("./images/green-code.jpg");
    height: calc(100% - 56px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro {
    background: grey;
    border: 5px solid white;
    border-radius: 10px;
    opacity: 0.95;
    text-align: center;
    padding: 3em 3em;
    margin-bottom: 3em;
}

#intro > h1 {
    font-weight: 900;
    font-size: 4vw;
    letter-spacing: 20px;
    margin-bottom: 0.6em;
    color: #273024;
    text-transform: uppercase;
}

#intro > p {
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 1em;
}

#start-btn {
    padding: 0.5em 2em;
    font-size: 1.8vw;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 3px 3px 9px 3px #000000;
    transition-duration: 20ms;
    letter-spacing: 0.3em;
    text-decoration: none;
}

#start-btn:active {
    transform: scale(0.95, 0.95);
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.highscores {
    min-width: 500px;
    max-width: 500px;
}

th, td {
    border: 1px solid black;
    font-weight: 600;
}

td {
    padding: 0.5em;
    min-width: 200px;
    font-size: 2em;
}

@media only screen and (max-width: 600px) {
    main {
        padding: 4em 2em;
    }

    #intro {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 0px;
    }

    #intro > h1 {
        font-size: 7vw;
    }
    
    #intro > p {
        font-size: 5vw;
    }

    #start-btn {
        font-size: 4vw;
    }
}